/* Poppins font */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
}

header {
  background-color: #2d25a0;
  margin-bottom: 70px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
}

.top-banner {
  width: 50%;
}

.top-banner h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 10px;
  color: whitesmoke;
}

.top-banner a {
  text-decoration: none;
  color: whitesmoke;
}

.watch-live {
  width: 107px;
  padding: 10px 20px;
  background-color: #e02c6d;
  transition: 1s;
}
.watch-live:hover {
  transform: scale(1.1);
  transition: transform 1s;
  border: 1px solid whitesmoke;
}

.top-banner img {
  width: 80%;
}

/* -----------------
  Player section 
  ------------------*/

.players-album {
  padding: 50px;
}

.players {
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.players-photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.players-img img {
  width: 100%;
}

.football-live-title {
  margin-top: 70px;
  text-align: center;
  font-size: 3em;
}

/* -------------------
  Bonus Section 
  ----------------------*/

.bonus {
  display: flex;
  padding: 70px;
}

.live-match {
  width: 50%;
  text-align: center;
}

.live-match h1 {
  font-size: 2em;
  line-height: 0px;
}

.live-score {
  display: flex;
  justify-content: center;
}

.team {
  text-align: center;
  width: 150px;
  margin: 0px 10px;
}

.live {
  color: crimson;
  text-decoration: underline;
}

.team p {
  line-height: 5px;
}

.team span {
  color: crimson;
  text-decoration: underline;
}

/* ----------------
    Footer 
--------------------*/

footer {
  text-align: center;
  margin-top: 158px;
}

.website-logo {
  width: 483.87px;
  height: 110px;
  margin: auto;
  margin-bottom: 20px;
}

.website-logo img {
  width: 483.87px;
  height: 110px;
}

.icon {
  width: 32px;
  height: 32px;

  margin: 0px 14px;
  background-color: #e7e7e8;
  padding: 7px;
  border-radius: 50px;
}

.fa-brands {
  color: #969bab;
}

/* ------------
    Media quary 
---------------*/

@media (max-width: 688px) {
  .container {
    display: block;
  }

  .top-banner {
    width: 100%;
  }

  .top-banner img {
    margin-top: 50px;
  }

  .players {
    margin-bottom: 24px;
  }

  .players-album {
    padding: 15px;
  }

  .players-photos {
    display: block;
  }

  .bonus {
    display: block;
    padding: 0px;
  }
  .live-match {
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 688px) and (max-width: 992px) {
  .players-photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .bonus {
    display: block;
    padding: 0px;
  }
  .live-match {
    width: 100%;
    text-align: center;
  }
}
